body {
    background-color: black;
    color: #f4f4f4;
    transition: all 0.5s ease-out;
}
#buttonMode {
    color: #9d9d9d;
    background-color: #484848;
    border: none;    
    border-radius: 2px;
    margin: 13px;
}
#buttonMode:hover {
    color: white;
    background-color: grey;
    transition:1s;
}
