@section scripts{
    <script src="@Url.Content("~/Scripts/Controllers/SPA/index.js")"></script>
}
<button id="newAnimals">Animals</button>
<button id="newHomes">Homes</button>
@section Button{
    <button class="NightMode" id="buttonMode">Night mode</button>
}
<div class="list-container">
</div>
